/* sea.select
// css version 1.0.0
// © Oleg Morev, 2015    
// https://github.com/DpOLEGapx/ 
//
// ===================================================================================================================*/
.sea-selected {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background: #fff;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
}
.sea-selected.focus {
	border-radius: 3px 3px 0 0;
}
.sea-list {	
	background: #fff;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #a0a0a0;
	border-radius: 0 0 3px 3px;
} 
.sea-list li {
	padding: 5px 10px;
}
.sea-list li:hover {
	background: #a0a0a0;
	color: #fff;
}